.body {
    background-color: #fafafa;
    padding: 50px 0 50px 0;
    .wrap-img{
        width:100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 20px;

    }
    .card-contents {
        display: flex;
        flex-wrap: wrap;
        max-width: 1300px;
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .card00 {
        width: 250px;
        background-color: white;
        padding: 30px;
        margin: 20px;
    }
    .text-center {
        text-align: center;
    }
}
